@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  margin: auto;
  overflow: hidden;
  position:relative;
  width: 80%;
  height: auto;
}

.caption-overlay {
  bottom: 0;
  color: white;
  left: 0;
  right: 0;
  text-align: left;
  top: 0;
  transform: translateY(80%);
  transition: all 1s;
  position: absolute;
  padding: 1em;
}

.caption-media {
  display: block;
  width: 100%;
}

.caption:hover .caption-overlay {
  transform: translateY(42%);
  background-color: rgba(0,0,0,0.3);
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

button {
  background-color: ghostwhite;
  border: none;
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  transition: all 2s;
}

button:hover {
  background-color: cornflowerblue;
  color: white;
  transition: all 2s;
}
